<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>14</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/sistemasintegrale/ControlEquipos/main/Published/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net6.0-windows\app.publish\</PublishDir>
    <PublishUrl>D:\PROYECTOS RAFHAEL\SOLUCIONES\ControlEquipos\Published\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(ninguno)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>https://raw.githubusercontent.com/sistemasintegrale/ControlEquipos/main/Published/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-06-05T22:30:49.7065997Z;True|2023-06-05T16:05:04.4711172-05:00;True|2023-06-05T11:44:44.4480335-05:00;True|2023-04-29T12:02:28.2335141-05:00;True|2023-04-10T11:47:19.6896192-05:00;True|2023-03-22T16:24:20.3764037-05:00;True|2023-03-22T16:23:58.1716374-05:00;True|2023-03-22T16:17:55.4674214-05:00;True|2023-03-10T11:34:50.7328419-05:00;True|2023-03-08T11:52:07.1136154-05:00;True|2023-03-07T11:07:27.2208065-05:00;True|2023-03-06T17:01:38.1695663-05:00;True|2023-03-06T16:07:50.5517641-05:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>True</Install>
      <ProductName>Entorno de ejecución de escritorio de .NET 6.0.14 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>